@media all and (max-device-width: 992px) {
    .imgcerf {
        margin-left: 5%;
        margin-right: 5%;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        margin-top: 20%;
    }
}
@media all and (max-device-width: 767px) {
    .imgcerf {
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        margin-top: 90%;
    }
}