@media all and (max-device-width: 992px) {
    .HrefHeader a{
        font-size: 1.5vw;
    }
    h1{
        font-size: 1.7vw;
    }
    h2{
        font-size: 1.8vw;
    }
    p,a{
        font-size: 1.5vw;
    }
}
@media all and (max-device-width: 767px) {
    .HrefHeader a{
        font-size: 1.6vw;
    }
    h2{
        font-size: 2.3vw;
    }
    p,a{
        font-size: 1.6vw;
    }
    .HrefFoot {
        display: grid;
        grid-gap: 7px;
    }
    .HrefFootImg img{
        width: 4%;
    }
}
@media all and (max-device-width: 480px) {
    .HrefHeader a{
        font-size: 1.7vw;
    }
    p,a{
        font-size: 1.7vw;
    }

}