.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}
.header-container img{
    height: 40px;
}
.header-counter {
    z-index: 2;
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
}
#count{
    display: inline;
    position: absolute;
    margin-top: 13px;
    font-size: 20px;
}