.shopping-container {
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 65%;
	height: 70vh;
	margin: auto;
	line-height: 1.3;
	padding: var(--spacing-large);
	transform: translate(-50%, -50%);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
	overflow: scroll; /* Добавляем полосы прокрутки */
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}
.shopping__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 4%;
	height: 4%;
	background-image: url(img/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}
@media all and (max-device-width: 420px) {
    .shopping-container {
		padding: 0.1px;
	}
	.shopping-container table{
		margin-top: 10%;
	}
	.shopping-element__price {
		padding: 0px;
	}
}